*{
  margin: 0px;
  padding: 0px;
}
header{
  background-color: #FF8D25;
  width: 1920px;
  height: 118px;
  position: relative;
}
.logo{
  font-size: 48px;
  color: white;
  font-weight: bold;
  margin: 0px;
  position: absolute;
  left: 40px;
  top: 24px;
}
div{
  border: 1px #aaa solid;
  width: 1840px;
  height: 100px;
  border-radius: 10px;
  margin-bottom: 24px;
}
.box1{
  margin-top: 40px;
}
#check{
  width: 36px;
  height: 36px;
  border: 1px #888 solid;
  border-radius: 3px;
  margin: 32px 24px;
  display: inline;
  float: left;
}
#check:checked{
  background-image: url(/image/Frame\ 31.png);
}
.todoText{
  margin-top: 8px;
  border: none;
  display: inline;
}
.todoTitle{
  color: black;
  font-size: 32px;
  font-weight: 550px;
}
.todoDes{
  color: #777;
  font-size: 24px;
  font-weight: 350px;
}
.container{
  border: none;
  margin-left: 40px;
}
#plus{
  background-color: #FF8D25;
  width: 84px;
  height: 84px;
  border-radius: 100px;
  border: none;
  padding: 8px;
  float: right;
  position: fixed;
  right: 60px;
  bottom: 60px;
  margin: 0px;
}